<div>
  <form ng-submit="addCar(car)" class='col-md-4'>
    <div id="add-car">
      <div class="input-group">
        <input placeholder="Make/Model of Car" id="carType" class="form-control">
        <input placeholder="Year" id="carYear" class="form-control">
        <input placeholder="Condition" id="carCondition" class="form-control">
        <input placeholder="Color" id="carColor" class="form-control">
        <input placeholder="image url" id='carUrl' class='form-control'>
        <button type="submit" class="btn btn-primary">Add Car Listing</button>
      </div>
    </div>
  </form>
</div>
