<div class="text-center">
  <h2>Edit Car</h2>
  <h4>Edit your car's information in the fields provided.</h4>
</div>
<div>
  <form ng-submit="submitChanges()">
    <div class="row">
      <div class='col-sm-6'>
        <label>Make/Model</label>
        <input ng-model="editCar.model" placeholder="require" class="form-control" required>
        <label>Year</label>
        <input ng-model="editCar.year" placeholder="require" class="form-control" required>
        <label>Condition</label>
        <input ng-model="editCar.condition" placeholder="require" class="form-control" required>
      </div>
      <div class='col-sm-6'>
        <label>Color</label>
        <input ng-model="editCar.color" placeholder="require" class="form-control" required>
        <label>Estimated Value</label>
        <input ng-model="editCar.value" placeholder="not require" class='form-control'>
        <label>Image Link</label>
        <input ng-model="editCar.imageUrl" placeholder="not require" class='form-control'>
        <button type="submit" class="btn btn-primary">Submit Changes</button>
      </div>
    </div>
  </form>
</div>
