<div class="text-center">
  <h2>Edit Car</h2>
  <h4>Edit your car's information in the fields provided.</h4>
</div>
<div>
  <form ng-submit="submitChanges()">
    <div class="row">
      <div class='col-sm-6'>
        <input ng-model="editCar.model" placeholder="Make/Model of Car" class="form-control" required>
        <input ng-model="editCar.year" placeholder="Year" class="form-control" required>
        <input ng-model="editCar.condition" placeholder="Condition" class="form-control" required>
      </div>
      <div class='col-sm-6'>
        <input ng-model="editCar.color" placeholder="Color" class="form-control" required>
        <input ng-model="editCar.value" placeholder="estimatedValue" class='form-control'>
        <input ng-model="editCar.imageUrl" placeholder="image url" class='form-control'>
        <button type="submit" class="btn btn-primary">Submit Changes</button>
      </div>
    </div>
  </form>
</div>
