<div class='container'>
  <div class='marketplaceheader'>
    <h2 class="marketplace">Transaction History</h2>
    <div class='row'>
      <div class='transactiontable col-sm-3' ng-repeat="t in history">
        <ul class='transactionlist'>
          <li>Traded My {{t.tradeAway}}</li>
          <li>
            <img class='historyimage' ng-src='{{t.tradeAwayImageUrl}}'>
          </li>
          <li>To {{t.tradedWith}}</li>
          <li>For their {{t.receive}}.</li>
          <li>
            <img class='historyimage' ng-src='{{t.receiveImageUrl}}'>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
