<h2 class="text-center title">Transaction History</h2>
<div ng-repeat="completed in completedSolicits">
  <h4>Completed trade on
    {{completed.date}}</h4>
  <div class='row transaction-row'>
    <div class='col-sm-3 col-xs-6'>
      <h4>{{completed.carA.model}}</h4>
      <h5>{{completed.carA.year}}</h5>
      <h5>Previous Owner:
        {{completed.traderA.displayName}}</h5>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <img class="img-responsive" ng-src='{{completed.carA.imageUrl}}'/>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <h4>{{completed.carB.model}}</h4>
      <h5>{{completed.carB.year}}</h5>
      <h5>Previous Owner:
        {{completed.traderB.displayName}}</h4>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <img class="img-responsive" ng-src='{{completed.carB.imageUrl}}'>
    </div>
  </div>
</div>

<div ng-repeat="completed in completedUnsolicits">
  <h4>Completed trade on
    {{completed.date}}</h4>
  <div class='row transaction-row'>
    <div class='col-sm-3 col-xs-6'>
      <h4>{{completed.carA.model}}</h4>
      <h5>{{completed.carA.year}}</h5>
      <h5>Previous Owner:
        {{completed.traderA.displayName}}</h5>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <img class="img-responsive" ng-src='{{completed.carA.imageUrl}}'/>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <h4>{{completed.carB.model}}</h4>
      <h5>{{completed.carB.year}}</h5>
      <h5>Previous Owner:
        {{completed.traderB.displayName}}</h5>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <img class="img-responsive" ng-src='{{completed.carB.imageUrl}}'>
    </div>
  </div>
</div>

<div ng-repeat="cancel in cancelSolicits">
  <h4>Cancel trade on
    {{cancel.date}}</h4>
  <div class='row transaction-row'>
    <div class='col-sm-3 col-xs-6'>
      <h4>{{cancel.carA.model}}</h4>
      <h5>{{cancel.carA.year}}</h5>
      <h5>Owner:
        {{cancel.traderA.displayName}}</h5>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <img class="img-responsive" ng-src='{{cancel.carA.imageUrl}}'/>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <h4>{{cancel.carB.model}}</h4>
      <h5>{{cancel.carB.year}}</h5>
      <h5>Owner:
        {{cancel.traderB.displayName}}</h5>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <img class="img-responsive" ng-src='{{cancel.carB.imageUrl}}'>
    </div>
  </div>
</div>

<div ng-repeat="cancel in cancelUnsolicits">
  <h4>Cancel trade on
    {{cancel.date}}</h4>
  <div class='row transaction-row'>
    <div class='col-sm-3 col-xs-6'>
      <h4>{{cancel.carA.model}}</h4>
      <h5>{{cancel.carA.year}}</h5>
      <h5>Owner:
        {{cancel.traderA.displayName}}</h5>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <img class="img-responsive" ng-src='{{cancel.carA.imageUrl}}'/>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <h4>{{cancel.carB.model}}</h4>
      <h5>{{cancel.carB.year}}</h5>
      <h5>Owner:
        {{cancel.traderB.displayName}}</h5>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <img class="img-responsive" ng-src='{{cancel.carB.imageUrl}}'>
    </div>
  </div>
</div>
