<h2 class="text-center">Transaction History</h2>
<h5>Completed</h5>
<div class='row'>
  <div ng-repeat="completed in completedSolicits">
    <div class='col-sm-6'>
      <h4>{{completed.traderA.displayName}}</h4>
      <h4>{{completed.carA.model}}</h4>
      <img class="img-responsive" ng-src='{{completed.carA.imageUrl}}'>
    </div>
    <div class="col-sm-6">
      <h4>{{completed.traderB.displayName}}</h4>
      <h4>{{completed.carB.model}}</h4>
      <img class="img-responsive" ng-src='{{completed.carB.imageUrl}}'>
    </div>
  </div>
  <div ng-repeat="completed in completedUnsolicits">
    <div class='col-sm-6'>
      <h4>{{completed.traderA.displayName}}</h4>
      <h4>{{completed.carA.model}}</h4>
      <img class="img-responsive" ng-src='{{completed.carA.imageUrl}}'>
    </div>
    <div class="col-sm-6">
      <h4>{{completed.traderB.displayName}}</h4>
      <h4>{{completed.carB.model}}</h4>
      <img class="img-responsive" ng-src='{{completed.carB.imageUrl}}'>
    </div>
  </div>
</div>
