<h2 class="text-center">My Inventory</h2>
<div ng-repeat="car in myInventory" class='col-md-3 col-sm-4 col-xs-6'>
  <img class="img-responsive" ng-src='{{car.imageUrl}}'>
  <div>
    <ul class="list-unstyled">
      <li>Make/Model: {{car.model}} &nbsp;</li>
      <li>Year: {{car.year}} &nbsp;</li>
      <li>Condition: {{car.condition}} &nbsp;</li>
      <li>Color: {{car.color}}</li>
    </ul>
    <button class='btn btn-primary' ng-click="editingLink(car)">Edit Listing</button>
    <button class="btn btn-danger" ng-click="deleteCar(car)">Delete</button>
  </div>
</div>
