<div class="text-center">
  <h2>Welcome to WheelSwap</h2>
  <h4>the one stop spot for finding the perfect vintage, luxury, or high-end vehicle.</h4>
</div>
<div class='row'>
  <div class='col-md-4'>
    <img ng-src="../images/featurecar1.jpg" width="100%">
    <p>This Is A Cool Car</p>
    <p>Wouldn't it be cool to have it?</p>
  </div>
  <div class='col-md-4'>
    <img ng-src="../images/featurecar2.jpeg" width="100%">
    <p>Or Maybe This One</p>
    <p>You can get it, you know?</p>
  </div>
  <div class='col-md-4'>
    <img ng-src="../images/featurecar3.jpg" width="100%">
    <p>But If This One Is More Your Style</p>
    <p>You could have it too.</p>
  </div>
</div>
