
<h2>Welcome to WheelSwap, the one stop spot for finding the perfect vintage, luxury, or otherwise noteworthy vehicle.</h2>
<h4>Login below to visit the full site</h4>
<div class='featured-cars'>
  <div id='car-1'>
    <img src="/#">
    <p>What It Is</p>
    <p>What they want</p>
  </div>
  <div id='car-2'>
    <img src="/#">
    <p>What It Is</p>
    <p>What they want</p>
  </div>
  <div id='car-3'>
    <img src="/#">
    <p>What It Is</p>
    <p>What they want</p>
  </div>
</div>
