<div class="text-center">
  <h2 class='title'>Welcome to WheelSwap</h2>
  <h4>The Marketplace for trading cars</h4>
</div>
<div class='row'>
  <div class='col-sm-4 bottom-margin'>
    <img ng-src="../images/vintagecar.jpg" width="100%">
    <p>Vintage Cars</p>
  </div>
  <div class='col-sm-4 bottom-margin'>
    <img ng-src="../images/luxurycar.jpg" width="100%">
    <p>Luxury Cars</p>
  </div>
  <div class='col-sm-4 bottom-margin'>
    <img ng-src="../images/sportcar.jpg" width="100%">
    <p>Sport Cars</p>
  </div>
</div>
