<div>
  <div>
    <h4 id="login">
      <span>WheelSwap Login: </span>
      <button class='btn btn-default'><a href="/auth/google" class="googleplus"><i class="fa fa-google-plus">oogle</i></a></button>
    </h4>
  </div>
  <div><h2 id='login-header' class='col-md-10 col-md-offset-1'>Welcome to <span id='wheelswap'>WHEELSWAP</span>,
    the one stop spot for finding the perfect vintage, luxury, or high-end vehicle.</h2></div>
    <div class='featured-cars col-md-12'>
      <div id='car-1' class='col-md-4'>
        <img src="../images/featurecar1.jpg" width="100%">
        <p>What It Is</p>
        <p>What they want</p>
      </div>
      <div id='car-2' class='col-md-4'>
        <img src="../images/featurecar2.jpeg" width="100%"
        <p>What It Is</p>
        <p>What they want</p>
      </div>
      <div id='car-3' class='col-md-4'>
        <img src="../images/featurecar3.jpg" width="100%"
        <p>What It Is</p>
        <p>What they want</p>
      </div>
    </div>
  </div>
