<div>
  <div><h2 id='login-header' class='col-md-10 col-md-offset-1'>Welcome to <span id='wheelswap'>WHEELSWAP</span>,
    the one stop spot for finding the perfect vintage, luxury, or high-end vehicle.</h2></div>
    <div class='featured-cars col-md-12'>
      <div class='col-md-4 carlogin'>
        <img src="../images/featurecar1.jpg" width="100%">
        <p>This Is A Cool Car</p>
        <p>Wouldn't it be cool to have it?</p>
      </div>
      <div class='col-md-4 carlogin'>
        <img src="../images/featurecar2.jpeg" width="100%">
        <p>Or Maybe This One</p>
        <p>You can get it, you know?</p>
      </div>
      <div class='col-md-4 carlogin'>
        <img src="../images/featurecar3.jpg" width="100%">
        <p>But If This One Is More Your Style</p>
        <p>You could have it too.</p>
      </div>
    </div>
  </div>
