<div class="container">
  <h2>Marketplace</h2>
  <div ng-repeat="car in carInventory" class='mylistings'>
    <img src='{{car.imageUrl}}' height='225px'>
    <h2>Make/Model: {{car.model}}</h2>
    <ul>
      <li>Year: {{car.year}}</li>
      <li>Condition: {{car.condition}}</li>
      <li>Color: {{car.color}}</li>
      <li>Seller: {{car.userName}}</li>
    </ul>
    <a ui-sref="trade" ng-click="chosenCar()">Make A Trade</a>
  </div>
</div>
