<!DOCTYPE html>
<html>
  <head>
    <title>WheelSwap</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='../javascripts/script.js'></script>
  </head>
  <body>
    <header>
      <h1>WheelSwap</h1>
    </header>
    <h3>{{User}}\'s profile</h3>
    <h4>Looking for a change? A new piece of beauty for the road or the garage? Come on in, look at
      what other users are looking to trade, and make your offer</h4>
    <button ng-click="login()">Login</button>
  </body>
</html>
