<h2>My Inventory</h2>
<div ng-repeat="car in myCars" class='mylistings'>
  <img src='{{car.imgUrl}}' height='225px'>
  <h2>Make/Model: {{car.model}}</h2>
  <ul>
    <li>Year: {{car.year}}</li>
    <li>Condition: {{car.condition}}</li>
    <li>Color: {{car.color}}</li>
  </ul>
  <button ui-sref="editcar" ng-click="editingLink(car)">Edit Listing</button>
  <button ng-click="deleteCar(car)">Delete</button>
</div>
