<body ng-controller='inventoryCtrl'>
<h2>My Inventory</h2>
<div ng-repeat="car in myCars" class='mylistings'>
  <div>
    <!-- <img src='{{car.imgUrl}}' height='225px'> -->
    <h2>Make/Model: {{car.model}}</h2>
    <ul>
      <li>Year: {{car.year}}</li>
      <li>Condition: {{car.condition}}</li>
      <li>Color: {{car.color}}</li>
    </ul>
    <a ui-sref="editcar">Edit Listing</a>
  </div>
</div>
</body>
<!-- <h2 id="userbanner">My Inventory</h2>
<div id="mycars" class='mylistings'>
  <div class='col-md-3 col-md-offset-1'>
    <img src='http://www.topcarpicture.com/wp-content/uploads/2013/08/classic-car-values1.jpg' height='200px'>
    <h2 id='oneCar'>Make/Model of Car</h2>
    <button class='btn btn-default' id='editbutton'><a ui-sref="editcar">Edit Listing</a></button>
    <ul>
      <li>Year: 1989</li>
      <li>Condition: Mint</li>
      <li>Color: Something</li>
    </ul>
  </div>
  <div class='col-md-3 col-md-offset-1'>
    <img src='http://www.topcarpicture.com/wp-content/uploads/2013/08/classic-car-values1.jpg' height='200px'>
    <h2 id='oneCar'>Make/Model of Car</h2>
    <button class='btn btn-default' id='editbutton'><a ui-sref="editcar">Edit Listing</a></button>
    <ul>
      <li>Year: 1989</li>
      <li>Condition: Mint</li>
      <li>Color: Something</li>
    </ul>
  </div>
  <div class='col-md-3 col-md-offset-1'>
    <img src='http://www.topcarpicture.com/wp-content/uploads/2013/08/classic-car-values1.jpg' height='200px'>
    <h2 id='oneCar'>Make/Model of Car</h2>
    <button class='btn btn-default' id='editbutton'><a ui-sref="editcar">Edit Listing</a></button>
    <ul>
      <li>Year: 1969</li>
      <li>Condition: Fair</li>
      <li>Color: Something</li>
    </ul>
  </div>
  <div class='col-md-3 col-md-offset-1'>
    <img src='http://www.topcarpicture.com/wp-content/uploads/2013/08/classic-car-values1.jpg' height='200px'>
    <h2 id='oneCar'>Make/Model of Car</h2>
    <button class='btn btn-default' id='editbutton'><a ui-sref="editcar">Edit Listing</a></button>
    <ul>
      <li>Year: 1989</li>
      <li>Condition: Mint</li>
      <li>Color: Something</li>
    </ul>
  </div>
  <div class='col-md-3 col-md-offset-1'>
    <img src='http://www.topcarpicture.com/wp-content/uploads/2013/08/classic-car-values1.jpg' height='200px'>
    <h2 id='oneCar'>Make/Model of Car</h2>
    <button class='btn btn-default' id='editbutton'><a ui-sref="editcar">Edit Listing</a></button>
    <ul>
      <li>Year: 1989</li>
      <li>Condition: Mint</li>
      <li>Color: Something</li>
    </ul>
  </div>
  <div class='col-md-3 col-md-offset-1'>
    <img src='http://www.topcarpicture.com/wp-content/uploads/2013/08/classic-car-values1.jpg' height='200px'>
    <h2 id='oneCar'>Make/Model of Car</h2>
    <button class='btn btn-default' id='editbutton'><a ui-sref="editcar">Edit Listing</a></button>
    <ul>
      <li>Year: 1989</li>
      <li>Condition: Mint</li>
      <li>Color: Something</li>
    </ul>
  </div>
  <div class='col-md-3 col-md-offset-1'>
    <img src='http://www.topcarpicture.com/wp-content/uploads/2013/08/classic-car-values1.jpg' height='200px'>
    <h2 id='oneCar'>Make/Model of Car</h2>
    <button class='btn btn-default' id='editbutton'><a ui-sref="editcar">Edit Listing</a></button>
    <ul>
      <li>Year: 1989</li>
      <li>Condition: Mint</li>
      <li>Color: Something</li>
    </ul>
  </div>
  <div class='col-md-3 col-md-offset-1'>
    <img src='http://www.topcarpicture.com/wp-content/uploads/2013/08/classic-car-values1.jpg' height='200px'>
    <h2 id='oneCar'>Make/Model of Car</h2>
    <button class='btn btn-default' id='editbutton'><a ui-sref="editcar">Edit Listing</a></button>
    <ul>
      <li>Year: 1989</li>
      <li>Condition: Mint</li>
      <li>Color: Something</li>
    </ul>
  </div>
</div> -->
