<h2>My Inventory</h2>
<div ng-repeat="car in myCars" class='mylistings'>
  <div>
    <img src='{{car.imageUrl}}' height='225px'>
    <h2>Make/Model: {{car.model}}</h2>
    <ul>
      <li>Year: {{car.year}}</li>
      <li>Condition: {{car.condition}}</li>
      <li>Color: {{car.color}}</li>
    </ul>
    <a ui-sref="editcar">Edit Listing</a>
    <button ng-click="deleteCar">Delete</button>
  </div>
</div>
