<h2 class='inventoryheader'>My Inventory</h2>
<div class='container'>
  <div ng-repeat="car in myCars" class='mylistings col-sm-4 col-sm-offset-1'>
    <div class="singlecar">
      <img src='{{car.imageUrl}}' class='mycarimg'>
      <div class='mycarinfo'>
        <ul class='mycarlist'>
          <li>Make/Model: {{car.model}}</li>
          <li>Year: {{car.year}}</li>
          <li>Condition: {{car.condition}}</li>
          <li>Color: {{car.color}}</li>
          <li><a class='todeletepage' ui-sref="editcar">Edit Listing</a></li>
        </ul>
      </div>
      <button class="deletebutton btn btn-primary" ng-click="deleteCar(car)">Delete</button>
    </div>
  </div>
</div>
