<h2 class="text-center">Pending Offers</h2>
<div ng-repeat="offer in tradeOffers">
  <div class='row'>
    <div class='col-sm-6'>
      <span>{{offer.selectedCar.userName}} Will Trade Their {{offer.selectedCar.model}}</span>
      <ul class="list-unstyled">
        <li>Year: {{offer.selectedCar.model}} </li>
        <li>Condition: {{offer.selectedCar.condition}} </li>
        <li>Color: {{offer.selectedCar.color}} </li>
      </ul>
      <img class="img-responsive" ng-src='{{offer.selectedCar.imageUrl}}'>
    </div>
    <div class='col-sm-6'>
      <span>For Your {{offer.myCar.model}}</span>
      <ul class="list-unstyled">
        <li>Year: {{offer.myCar.year}}</li>
        <li>Condition: {{offer.myCar.condition}}</li>
        <li>Color: {{offer.myCar.color}}</li>
        <img class="img-responsive" ng-src='{{offer.myCar.imageUrl}}'>
      </ul>
    </div>
  </div>
  <div class="text-center">
    <button ng-hide='{{offer.myEmail === currentUserEmail}}' ng-click='acceptOffer(offer)' class='btn btn-primary'>Accept Offer</button>
    <button ng-click="declineOffer(offer)" class='btn btn-danger'>Decline Offer</button>
  </div>
</div>
