<div class='container'>
  <div class='row'>
    <div>
      <h1 class='pendingheader'>Pending Offers</h1>
    </div>
    <div class='col-sm-10 col-sm-offset-1'>
      <div ng-repeat="offer in tradeOffers" class='eachOfferSet'>
        <div class='col-sm-4 offertd'>
          <span class='thisOffer'>{{offer.selectedCar.userName}} Will Trade Their {{offer.selectedCar.model}}</span>
          <ul class='pendingCarInfo'>
            <li>Year: {{offer.selectedCar.model}} </li>
            <li>Condition: {{offer.selectedCar.condition}} </li>
            <li>Color: {{offer.selectedCar.color}} </li>
            <li>
              <img ng-src='{{offer.selectedCar.imageUrl}}' class="pendingImage">
            </li>
          </ul>
        </div>
        <div class='col-sm-4 offertd'>
          <span class='thisOffer'>For Your {{offer.myCar.model}}</span>
          <ul class='pendingCarInfo'>
            <li>Year: {{offer.myCar.year}}</li>
            <li>Condition: {{offer.myCar.condition}}</li>
            <li>Color: {{offer.myCar.color}}</li>
            <li>
              <img ng-src='{{offer.myCar.imageUrl}}' class='pendingImage'>
              <div class='tradebuttons'>
                <button ng-hide='{{offer.myEmail === currentUserEmail}}' ng-click='acceptOffer(offer)' class='btn btn-primary'>Accept Offer</button>
                <button ng-click="declineOffer(offer)" class='btn btn-danger'>Decline Offer</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
