<div class='container'>
 <div class='row'>
   <div>
     <h1 class='pendingheader'>Pending Offers</h2>
   </div>
   <div class='col-sm-8 col-sm-offset-2'>
       <div ng-repeat="offer in tradeOffers" class='eachOfferSet'>
         <button ng-click="acceptOffer(offer)">Accept Offer</button>
         <button ng-click="declineOffer(offer)">Decline Offer</button>
         <div class='col-sm-4 offertd'>
           <span class='thisOffer'>{{offer.selectedCar.userName}} Will Trade Their {{offer.selectedCar.model}}</span>
           <ul class='pendingCarInfo'>
             <li>Year: {{offer.selectedCar.model}} 2009</li>
             <li>Condition: {{offer.selectedCar.condition}} Poor</li>
             <li>Color: {{offer.selectedCar.color}} Black</li>
             <li><img ng-src='{{offer.selectedCar.imageUrl}}' class="pendingImage"></li>
           </ul>
         </div>
         <div class='col-sm-4 offertd'>
           <span class='thisOffer'>For {{offer.myCar.model}}</span>
           <ul class='pendingCarInfo'>
             <li>Year: {{offer.myCar.year}}</li>
             <li>Condition: {{offer.myCar.condition}} Good</li>
             <li>Color: {{offer.myCar.color}} blue</li>
             <li class='pendingImage'><img ng-src='{{offer.myCar.imageUrl}}'</li>
           </ul>
         </div>
       </div>
   </div>
 </div>
</div>
