<div>
  <img src='{{car.imageUrl}}' height='225px'>
  <h2>Make/Model: {{car.model}}</h2>
  <ul>
    <li>Year: {{car.year}}</li>
    <li>Condition: {{car.condition}}</li>
    <li>Color: {{car.color}}</li>
  </ul>
</div>
