<div class='container'>
  <div class='row'>
    <h1 class='pendingheader'>Pending Trades</h1>
    <div class='col-sm-12'>
      <!-- <table ng-repeat="for offer in offers" class="pendingoffers"> -->
      <table class="pendingoffers col-sm-12">
        <div class="pendingwrap">
          <tr class='pendings'>
            <td class='col-sm-6'>What Was Offered: My Offer{{what was offered}}</td>
            <td class='col-sm-6'>What I want: Their listing{{Their listing}}</td>
          </tr>
        </div>
        <div class="pendingwrap">
          <tr class='pendings'>
            <td class='col-sm-6'>What Was Offered: My Offer{{what was offered}}</td>
            <td class='col-sm-6'>What I want: Their listing{{Their listing}}</td>
          </tr>
        </div>
        <div class="pendingwrap">
          <tr class='pendings'>
            <td class='col-sm-6'>What Was Offered: My Offer{{what was offered}}</td>
            <td class='col-sm-6'>What I want: Their listing{{Their listing}}</td>
          </tr>
        </div>
        <div class="pendingwrap">
          <tr class='pendings'>
            <td class='col-sm-6'>What Was Offered: My Offer{{what was offered}}</td>
            <td class='col-sm-6'>What I want: Their listing{{Their listing}}</td>
          </tr>
        </div>
        <div class="pendingwrap">
          <tr class='pendings'>
            <td class='col-sm-6'>What Was Offered: My Offer{{what was offered}}</td>
            <td class='col-sm-6'>What I want: Their listing{{Their listing}}</td>
          </tr>
        </div>
      </table>
    </div>
  </div>
</div>
