<!DOCTYPE html>
<html>
<head>
  <title>WheelSwap</title>
  <link rel='stylesheet' href='../stylesheets/style.css' />
  <script src='../javascripts/script.js'></script>
</head>
<body>
  <header>
    <h1>WheelSwap</h1>
  </header>
  <h3>Welcome to WheelSwap, the pinnacle of Vintage Car trading.</h3>
  <h4>Looking for a change? A new piece of beauty for the road or the garage? Come on in, look at
    what other users are looking to trade, and make your offer</h4>
    <form ng-submit="addCar(carIno)">
      <div class="input-group">
        <label for="carType">Car For Trade</label><input placeholder="Type of Car" id="carType" class="form-control">
        <input></input>
        <input></input>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-default ratio">Find Ratio</button>
        </div>
      </div>
    </form>
  </body>
  </html>
