body {
  font: 14px Helvetica, Arial, sans-serif;
  background-image: url('https://viz.socialcops.com/assets/img/placeholder.jpg');
}

.nav li {
  font-size: 20px;
}

.navbar-brand {
  font-size: 20px;
}

.front-nav {
  font-size: 20px !important;
  margin-right: -30px !important;
}

input {
  margin-top: 20px;
  margin-bottom: 10px;
}

.carlogin {
  text-align: center;
}

.carlogin p {
  font-size: 20px;
}

/*login*/
#login-header {
  text-align:center;
  margin-top: 5%;
  font-size: 38px;
}

#login {
  float:right;
  margin-right: 15px;
  color: #4389FE;
}

#wheelswap {
  color: #4389FE;
}

.featured-cars {
  margin-left: 0px;
  margin-top: 10%;
}

/*add car*/

.form-control {
  background-color: #FFFFCC;
}
.addcarheader {
  font-size: 56px;
  text-align: center;
}

.addinstructions {
  text-align: center;
  font-size: 24px;
}

/*my inventory*/

.inventoryheader {
  font-size: 68px;
  text-align: center;
  color: #4389EF;
}

.mycarimg {
  width: 100%;
}

.mycarlist li {

  font-size: 24px;
  float: left;
  list-style: none;
}

#userbanner {
  text-align: center;
  margin-top: 4%;
  font-size: 64px;
}

#editbutton {
  width: 90% !important;
  background-color: #AABBCC !important;
}

.singlecar{
  border-bottom: 1px black solid;
  margin-left: 20px;
  color: black;
  margin-top: 40px;
}

.todeletepage {
  font-size: 14px;
}

/*marketplace*/

.marketplaceheader {
  margin-top: 4%;
}

.tradelink {
  color: white;
  font-size: 18px;
}

h2.marketplace {
  text-align:center;
  font-size: 64px;
  color: #4389FE;
}

h4.instructions {
  text-align: center;

  margin-top: 2%;
}

.marketlink {
  font-size: 18px;
}

.buttonholder {
  text-align:center;

  position:absolute;
  bottom:5px;
}

.listinglist {
  list-style: none;
  font-size: 20px;
  margin-bottom: 5%;
  margin-left: -11%;
  margin-right: 1%;
}

.thelistings {
  text-align: center;
  margin-top: 12%;
}

.box {
  border: black 1px solid;
  padding: 5px 0px 5px 0px;
  margin-bottom: 5px;
  background-color: silver;
  height: 400px;
}

.boxblock {
  margin-left: 4%;
}

.marketplaceimg {
  width: 100%;
  max-height: 165px;
}
/*trade*/

/*see .box*/

.offerbutton {
  margin-top: 5px;
}

.mycartooffer {
  font-size: 18px;
  color: black;
}

.desiredinfo {
  list-style: none;
  font-size: 28px;
  color: black;
  margin-bottom: 5%;
  margin-left: -11%;
  margin-right: 1%;
}

.pendings {
  border: black 1px solid;
}

.offerborder {
  border: 1px black solid;
}

.offertd {
  width: 400px;
  border-top: 1px solid black;
}

.pendingCarInfo {
  list-style: none;
  color: black;
  font-size: 16px;
}

.pendingImage {
  max-height: 125px;
}

.pendingheader {
  font-size: 60px;
  text-align: center;
  color: #4389EF;
}

td {
  border: 1px solid black;
  width: 100%;
  padding: 10px 10px 10px 10px;
  font-size: 24px;
}

.pendingheader {
  text-align: center;
  color: #4389FE;
}

.tradebuttons {
}
