body {
  font: 14px Helvetica, Arial, sans-serif;
  background-color: #FFFEFF;
}

.front-nav {
  font-size: 20px !important;
  margin-right: -30px !important;
}

.footer {

}

/*login*/
#login-header {
  text-align:center;
  margin-top: 5%;
  font-size: 38px;
}

#login {
  float:right;
  margin-right: 15px;
  color: #4389FE;
}

#wheelswap {
  color: #4389FE;
}

.featured-cars {
  margin-left: 0px;
  margin-top: 10%;
}

/*add car*/

.form-control {
  background-color: #FFFFCC;
}
.addcarheader {
  font-size: 56px;
  text-align: center;
}

.addinstructions {
  text-align: center;
  font-size: 24px;
}

/*my inventory*/
h2#oneCar {
  font-size: 24px !important;
  color: #3489EF;
}

li {
  font-size: 20px;
}

#userbanner {
  text-align: center;
  margin-top: 4%;
  font-size: 64px;
}

#editbutton {
  width: 90% !important;
  background-color: #AABBCC !important;
}

.mycars img{
  box-shadow: 3px 3px 3px #444;
}

/*marketplace*/

#marketplaceheader {
  margin-top: 4%;
}

h2#marketplace {
  text-align:center;
  font-size: 64px;
}

h4#instructions {
  text-align: center;
}

#tradebutton {
  width: 60%;
  background-color: #AABBCC !important;
}

.marketlink {
  font-size: 18px;
}

.buttonholder {
  text-align:center;
}

.listinglist {
  list-style: none;
}

.listinglist li {
  padding: 3px 2px 2px 3px;
}

.mylistings img {
  box-shadow: 3px 3px 3px #444;
  margin-top: 3%
}

.mylistings {
  margin-right: 10%;
  margin-top: 8%;
}

#oneCar {
  text-align: center;
}
