<!Doctype html>
<html ng-app='car-trade'>
  <head>
    <title>Car Trade</title>
    <link rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet', href='stylesheets/style.css'>
  </head>
  <body>
    <nav></nav>
    <div ui-view>

    </div>
    <script src='/vendor/jquery/dist/jquery.js'></script>
    <script src='/vendor/angular/angular.js'></script>
    <script src='/vendor/angular-ui-router/release/angular-ui-router.js'></script>
    <script src='/vendor/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='index.js'></script>
  </body>
</html>
