<!Doctype html>
<html ng-app='wheelSwap' ng-controller='MainCtrl'>
<head>
  <title>Car Trade</title>
  <link rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel='stylesheet', href='stylesheets/style.css'>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Brand</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a ui-sref="marketplace">Marketplace</a></li>
          <li><a ui-sref="myinventory">My Inventory</a></li>
          <li><a ui-sref="trade">Trade</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div ui-view>

  </div>
  <script src='/vendor/jquery/dist/jquery.js'></script>
  <script src='/vendor/angular/angular.js'></script>
  <script src='/vendor/angular-ui-router/release/angular-ui-router.js'></script>
  <script src='/vendor/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src='main.js'></script>
</body>
</html>
